html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,
sup,tt,var,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td, ul,li {
	background:transparent;
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	list-style: none;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

html {
	height:100%;
	margin:0 0 1px;
}

body {
	background:#fff;
	color:#1e242e;
	font-family: Georgia, Times, Times New Roman, serif;
	font-size:small;
}

hr {
	border: 0;
	background-color: #979fa9;
	color: #979fa9;
	margin-right: 6px;
	height: 1px;
}

h1 {
	font-weight: normal;
	font-size: 20px;
}

h1.title {
	margin-bottom: 12px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	margin: 6px 0;
}

h3 {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

h4#login {
	float: right;
	font-size: .8em;
	color: #eee;
	margin-top: 5px;
	margin-right: 12px;
}

h5 {
	font-size: .9em;
	font-weight: bold;
}

a {
	color: #a4542c;
	text-decoration: none;
}

a:hover {
	color: #c17d63;
}

form.note input[type="submit"] {
	margin-top: 0px;
}

input[type="submit"] {
	margin-top: 5px;
}

dd input[type="submit"] {
	margin-top: 0px;
}

#wordMark {
	background:url("../images/wordMarkBkg.png") repeat-x scroll center bottom #FFFFFF;
	padding-left: 75px;
	padding-top:7px;
}

#universityWordMark  img {
	margin-bottom: -3px;
}

.spacer { clear:both; }
.hide { display:none; }
.pagedata { display:none; }
a.delete { color:#c00; }
.alert { color:#c00; }
.msg { color:#c00; }
a.edit { color: #00c; font-size: 10px;}
.current { color: #00c; font-weight: bold;}
a.current { color: #00c; font-weight: bold;}
.modify {color: #00c;}
a.modify {color: #00c; font-size: .8em;}

div#container {
	margin: 5px 108px;
	width: 750px;
	min-height: 400px;
}

div#topper {
	background-color: #fff;
	color: #3d536c;
	margin: 0;
	margin-top: -5px;
	padding: 10px 2px 4px 0px;
	border-bottom: 1px solid #979fa9;
}

div#topper h1 {
	font-size: 40px;
	font-weight: normal;
	float: left;
}

div#topper h3 {
	font-weight: normal;
	float: right;
	margin-top: 24px;
}

div#topper a {
	color:#3d536c;
}

div#topper h3 a.delete {
	color: #944225;
}

div#content {
	margin-top: 1em;
	margin-left:223px;
	min-height: 12em;
	padding: 0 20px;
}

div#footer {
	background-color:#3d536c;
	margin:0;
	margin-top: 25px;
	height: 60px;
	padding-top: 10px;
}

div#footer img.logo {
	padding-left: 108px;
}

.hide,.tempHide {
	display:none;
}

.show {
	display:block;
}

div.controls {
	float:right;
}

div.loader {
	float:right;
	margin-top: 20px;
	margin-right:20px;
}


/* Sidebar */
#sidebar {
	float:left;
	width: 223px;
	margin-top: 1em;
	margin-bottom: 5em;
	border-right: 1px solid #979fa9;

}

ul.menu {
	margin-bottom: 20px;
	background-color: #fff;
}

ul.menu li {
	margin-bottom: 2px;
}

ul.menu li h2 {
	margin: 0px 8px 6px 8px;
	font-size: 18px;
	color: #3d536c;
}

ul.menu li.border {
	background-color: #fff;
	height: 12px;
}

ul.menu li a {
	display: block;
	margin: 0px;
	padding: 4px 10px;
}

ul.menu li.main-link a {
	font-size: 16px;
	background-color: #eee;
	margin-right: 18px;
	margin-bottom: 12px;
}

ul.menu li a.current {
	color: #fff;
	background-color: #c17d63;
}

ul.menu li a:hover {
	color: #fff;
	background-color: #e29f85;
}

input.long {
	width: 50%;
}

.control {
	float: right;
}

dl {
}
dt {
	background-color: #eee;
	float: left; 
	width: 140px; 
	text-align: right; 
	font-weight: bold; 
	padding: 2px 10px;
	margin-bottom: 2px;
	color: #666; 
}
dd { 
	margin: 0 0 2px 160px; 
	padding: 2px 10px; 
	min-height: 20px;
}

dl.projects {
	margin-top: 20px;
}

div.exercise {
	font-size: 16px;
	margin-bottom: 15px;
	width: 450px;
	padding: 12px 28px;
	background-color: #eee;
}

div.exercise h1 {
	font-size: 20px;
}

label[for="text"] {
	margin-top: 10px;
}

label {
	display: block;
	font-size: 12px;
	color: #333;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 0;
}

div.exercise input[type="text"] {
	margin-top: 0px;
}

div.exercise ul {
	margin-top: 5px;
}

textarea {
	width: 438px;
	height: 200px;
	padding: 6px;
}

.control input[type="submit"] {
	margin:0;
}

div.wee {
	display: inline;
	font-size: 9px; 
}

dl.notes {
	margin: 20px 0;
	padding: 0;
}

dl.notes dt {
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	float: none;
	width: 300px;
	margin: 10px 0;
	padding: 4px;
}
dl.notes dd {
	width: 300px;
	margin: 0;
	padding: 0;
}

table.projects {
	margin-top: 10px;
}

table.projects th {
	font-weight: bold;
	width: 240px;
	padding: 10px;
	text-align: right;
	background-color: #eee;
}

table.projects td {
	padding: 10px;
}

div#media_files {
	margin: 2px 0;
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}
div#media_files input {
	vertical-align: top;
}
div#media_files li {
	padding: 6px;
	margin: 4px 0;
	background-color: #f6f6f6;
}

ul.lines {
	margin: 20px 0;
}

ul.lines li {
	margin-top: 4px;
	padding: 4px;
	background-color: #ddd;
	width: 80%;
}

ul.exercises {
	margin-top: 12px;
}

ul.exercises li {
	line-height: 20px;
}
ul.exercises li a {
	font-size: 18px;
}

form[method="delete"] input[type="submit"] {
	color: #c00;
	background-color: #eee;
}

form[method="delete"] input[type="submit"]:hover {
	color: #eee;
	background-color: #c00;
}

/*
*************************************************
FROM::
http://clc.makeshiftdesign.com/kit-of-parts.html
Author:		Joshua Hynes, JoshuaHynes.com
Updated:	April 5, 2010
changes by peter keane
*************************************************
*/

div.interface { background-color: #DDD; height: 26px; padding: 12px 28px; width: 450px; }
div.interface p, ul#times li { color: #3D3115; font-size: 11px; line-height: 11px; margin: 0 0 3px; padding: 0; }
ul.controls { float: left; list-style-type: none; margin: 0 10px 0 0; padding: 0; }
ul.controls li { cursor: pointer; height: 26px; margin: 0; text-indent: -9999px; width: 26px; }
ul.controls li#play_button { background: url(../images/play.png) 0 0 no-repeat; }
ul.controls li#pause_button { background: url(../images/pause.png) 0 0 no-repeat; }

div#load_bar { background-color: #bbb; float: left; height: 14px; }
div.progress, div.progress { background-color: #ccc; float: left; height: 14px; }
div.progress { width: 350px; }
div.progress div#load_bar div#play_bar { background-color: #999; height: 14px; }

div#volume { float: right; width: 40px; }
div#volume_bar { background-color: #bbb; float: left; height: 5px; width: 40px; }
div#volume_bar_value { background-color: #586e9d; height: 5px; padding: 0; }
	
ul#times { float: left; list-style-type: none; margin: 0; padding: 0; width: 350px; }
ul#times li { float: left; margin: 3px 0 0; position: relative; }
ul#times li#play_time { width: 100px; }
ul#times li#total_time { float: right; }

div#title { background-color: #ccc; font-weight: bold; padding: 2px 28px; width: 450px; margin-bottom: 10px;}
